.box {
  height: 100px;
  width: 90%;
  border: 2px solid chartreuse;
  box-shadow: 0 0 20px;
  display: flex;
  flex-wrap: wrap; /* 👈 allows items to go to next line */
  justify-content: center;
  align-items: center;
  border-radius: 20px;

}
#text{
    height: 30px;
    width: 200px;
    border-radius:10px ;
    text-align: center;
    align-items: center;
 

    font-weight: 500;
    font-size: x-large;
}
button{
    background-color: rgb(128, 255, 0);
    margin: 10px;
    border-radius: 10px;
    height: 40px;
    width: 600px;
    
    font-weight: 500;
    font-size: x-large;
}
.aiwei{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 193, 51);
}

