body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #ff9a00, #ff0058);
}

.main{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    border: 2px solid black ;
    height: 80vh;
    width: 40vh;
    border-radius: 40px;
    background: linear-gradient(180deg,rgb(103, 126, 255),rgb(0, 255, 0));
}

.container{

}